@charset "Shift_JIS";


/*ƒwƒbƒ_[‘å˜g*/
#header_container {
	background:url(../img/top/header_back.gif) repeat-x ;
	margin:0 auto;
	padding:0px;
	width:100%;
	height:50px;
	text-align:center;
	}

/*ƒwƒbƒ_[ƒƒjƒ…[920px*/
#header_contents920 {
	text-align:left;
	margin:0 auto;
	height:44px;
	/*margin-bottom:6px;*/
	width:942px;
	position:relative;
	}
#header_contents920:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

/*¶ƒ{ƒbƒNƒX*/
#header_left {
	width:474px;
	position:absolute;
	top:10px;
	left:18px;
	}
/*ƒƒOƒAƒEƒg@add by watanabe 20121004*/

#header_logout{
	float:left;
	margin:18px 0 0 40px;
	}
#header_logout_top{
	float:left;
	margin:12px 0 0 160px;
	}
#header_logout a:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
}
/*››‚³‚ñ‚±‚ñ‚É‚¿‚Í@add by watanabe 20121004*/

#header_hellow{
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','ƒƒCƒŠƒI',Meiryo,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:12px;
	margin:0 auto;
	padding:20px 0 0 50px;
	width:290px;
	float:left;
	}
#header_hellow_top{
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','ƒƒCƒŠƒI',Meiryo,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-size:12px;
	margin:0 auto;
	padding:18px 0 0 225px;
	width:290px;
	float:left;
	}

/*ƒƒS*/
#header_container p.logo {
	margin:0;
	padding:0;
	margin:10px 60px 13px 0px;
	float:left;
	display:block;
	border: none;
	}
/*‰Eƒ{ƒbƒNƒX*/
#header_container #header_right {
	position:absolute;
	top:10px;
	right:11px;
	width:148px;
	}